[submodule "_labs/lab0"]
	path = _labs/lab0
	url = https://github.com/comp251/comp251-lab0.git
[submodule "_labs/lab1"]
	path = _labs/lab1
	url = https://github.com/comp251/comp251-lab1.git
[submodule "_labs/lab2"]
	path = _labs/lab2
	url = https://github.com/comp251/comp251-lab2.git
[submodule "_labs/lab3"]
	path = _labs/lab3
	url = https://github.com/comp251/comp251-lab3.git
